<nav class='navbar is-primary' role='navigation' aria-label="main navigation">
  <div class="navbar-menu ">
    <div class="navbar-right">
    <div class="navbar-item has-dropdown is-active">
      <a class='navbar-link is-arrowless'>Quick Timer</a>
      <div class="navbar-dropdown is-primary">
        <div *ngFor="let time of customTimes" >
          <a class='navbar-item' (click)="customTimer(time)">{{time.title}}</a>
          <a class='navbar-item'></a>
        </div>
      </div>
    </div>
  </div>

  </div>
</nav>
<main class="content">
  <div class="buttons" >
  </div>
  <h1 style="color:white;">Focus Timer</h1>
  <div class="" >
    <div>
      <h4 style="color:#CF7944">{{timeLeft}}</h4>
    </div>
    <round-progress
      [current]="current*10"
      [max]="max*10"
      [radius]="200"
      [stroke]="136"
      background="#212121"
    >
    </round-progress>
  </div>

  <div class="controls-wrapper container">

    <div class="columns">

    <div class="column">
      <label for="">Hours</label>
      <input type="number"
      STYLE="background-color: #000000; color: white;"
      min="0"
      class="input"
      placeholder="Hours"
      [(ngModel)]="hours"
      (keydown)="reset()">
    </div>
    <div class="column">
      <label for="">Minutes</label>
      <input type="number"
      STYLE="background-color: #000000; color: white;"
      min="0"
      class="input"
      placeholder="Minutes"
      [(ngModel)]="minutes"
      (keydown)="reset()">
    </div>
    <div class="column">
      <label for="">Seconds</label>
      <input type="number"
      min="0"
      class="input"
      STYLE="background-color: #000000; color: white;"
      [(ngModel)]="seconds"
      (keydown)="reset()"
      placeholder="Seconds">
    </div>
    <br>
    <h1></h1>
    </div>
    <div class="buttons">
      <button class="button is-info" *ngIf="current <= 0" (click)="pausePlayTimer()">Start</button>
      <button class="button is-danger" *ngIf="current > 0 && !isFinished" (click)="cancelTimer()">Cancel</button>
      <button class="button is-info"  *ngIf="!isFinished && current > 0" (click)="finish()">Finish</button>
      <button class="button is-danger" *ngIf="current>0" (click)="reset()">Reset</button>
      <button class="button is-warning" *ngIf="current > 0 && !isFinished" (click)="pausePlayTimer()">{{timerIsPaused ? 'Resume' : 'Pause'}}</button>
    </div>
  </div>
    <div *ngIf="!isNotFinished">
      <h1 style="color:white">Timer Done</h1>
      <audio autoplay controls *ngIf="!isNotFinished">
        <source src="assets/beethoven5th-cropped.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
</main>
